/* body{
    padding-top: 3px;
    direction: flex;
    font-family: monospace;
} */

.img_text{
    background-color: #04AA6D;
    color: white;
    font-size: 1rem;
    font-family: monospace;
    padding: 1rem 2rem;
    word-wrap: break-word;
    white-space: nowrap; 
    
}

.no-wrap{
    white-space: nowrap;
}

.center{
    text-align: center;
}

.container,.container-r {
    position: relative;
    width: 100%;
    /* margin-top: 5%; */
    /* margin-left: 15%; */
}

.typed {
    color: blue;
    font-family: monospace;
    overflow: hidden;
    border-right: .15em blue;
    white-space: nowrap;
    margin: 0 auto; 
    letter-spacing: .15em;
    animation: 
     typing 10s steps(40, end),
     blink-caret .5s step-end infinite;

}    
     @keyframes typing{
        from { width: 0;}
        to {width: 100%;}
     }

     @keyframes cursor_effect{
        from,to {border-color: transparent}
        50% {border-color: blue;}
     }

.image-left{            /* set image to left side */
    position: relative;
    width: 25% ;
    margin-top: 5%;
    margin-left: 15%;
    /* padding: auto; */
    opacity: 1;
    display: block;
    height: auto;
    transition: .5 ease; /* transition + custom entry time */
    backface-visibility: hidden; /* hidden mirror image from user*/
}

.image-right{               /*set image to right side*/
    position: relative;
    width: 25% ;
    margin-top: 5%;
    margin-left: 60%;
    /* margin-left: 15%; */
    /* padding: auto; */
    opacity: 1;
    display: block;
    height: auto;
    transition: .5 ease; /* transition + custom entry time */
    backface-visibility: hidden; /* hidden mirror image from user*/
    

}

.middleleft{
    transition: .5s ease;
    opacity: 0;
    position: absolute; /* set position to be 50% of container*/
    top: 25%;
    bottom: 50%;
    left: 25%;
    /* margin-left: 7.5%; */
    text-align: center;
}

.middleright{
    transition: .5s ease;
    opacity: 0;
    position: absolute; /* set position to be 50% of container*/
    top: 33.33%;
    bottom: 50%;
    right: 25%;
    text-align: center;
}

.container:hover .image-left{
    opacity: 0.3; /* make image fade*/
}

.container:hover .middleleft{
    opacity: 1; /* make button opacity 1 */
}

.container-r:hover .image-right{
    opacity: 0.3;
}

.container-r:hover .middleright{
    opacity: 1;
}

/* @media screen and (max-width: 800px){
    .middleleft,.image-left,.middleright,.image-right,.img_text, .container, .container-r, .container-r:hover, .container:hover{
        width: 100%;
    }
} */
